﻿@import url('nanumsquare.css');

*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%;font-size:2.95vw;font-family: 'NanumSquare', sans-serif;color:#6F6F6F;}
body {-webkit-text-size-adjust:100%;}
a{text-decoration:none;}
li{list-style: none;}
button{border:none;cursor:pointer;font-size:1rem;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;}
