/*----------------------------------*/
/*              common              */
/*----------------------------------*/

/****************************************************/
@import url('../fonts/NanumGothic/NanumGothic.css');
/****************************************************/

/*-- color --*/
$plus-color : rgba(255,99,1,1);//#FF4A5B;
$minus-color : rgba(23,107,204,1);//#3D9DFF;
$sell-bg :  rgba(255,99,1,0.15);
$buy-bg : rgba(23,107,204,0.1);

$primary-color : $minus-color;
$primary-lighter: lighten($primary-color,30%);
$primary-light: lighten($primary-color,15%);
$primary-dark: darken($primary-color,15%);
$primary-darker: darken($primary-color,30%);

$point-color:$plus-color;
$point-lighter: lighten($point-color,30%);
$point-light: lighten($point-color,15%);
$point-dark: darken($point-color,15%);
$point-darker: darken($point-color,30%);

/*-- thema-color --*/
$thema-color: #343A40;
$font-color-01 : #7D7D7D;
$font-color-02 : #666666;
$font-color-dark : #7D7D7D;
$font-color-light : #7D7D7D;
$header-bg : #343A40;
$header-font-color : rgba(255,255,255,.7);
$header-hover-color : rgba(255,255,255,1);

$border-color : #d5d6dc;
$title-bg : #222222;
$title-font-color : #7D7D7D;
$card-bg : #343A40;
$th-bg : #222222;
$th-font-color : #7D7D7D;
$footer-bg-color : $thema-color;
$footer-font-color : $font-color-01;

$thema-type : thema-light;
@if $thema-type  == thema-dark {
  $thema-color: #343A40;
  $font-color-01 : rgba(255,255,255,.7);
  $font-color-02 :rgba(255,255,255,.7);
  $font-color-dark : rgba(255,255,255,.7);
  $font-color-light : rgba(255,255,255,.7);
  $header-bg : #343A40;
  $header-font-color : rgba(255,255,255,.7);
  $header-hover-color : rgba(255,255,255,1);
  $border-color : #646464;
  $title-bg : #222222;
  $title-font-color : rgba(255,255,255,.7);
  $card-bg : #343A40;
  $th-bg :#222222;
  $th-font-color : rgba(255,255,255,.7);
  $footer-bg-color : $thema-color;
  $footer-font-color : $font-color-01;
} @else if $thema-type  == thema-light{
  $thema-color: #f2f2f2;
  $font-color-01 : #7D7D7D;
  $font-color-02 : #666666;
  $font-color-dark : #222222;
  $font-color-light : #999999;
  $header-bg : #333;
  $header-font-color : rgba(255, 255, 255, 1);;
  $header-hover-color : rgba(255,255,255,1);
  $border-color : #d5d6dc;
  $title-bg : #EFF2F7;
  $title-font-color : #222222;
  $card-bg : #ffffff;
  $th-bg : #F9FAFC;
  $th-font-color : #7D7D7D;
  $footer-bg-color : $header-bg;
  $footer-font-color : $header-font-color;
}

$thema-lighter: lighten($thema-color,30%);
$thema-light: lighten($thema-color,15%);
$thema-dark: darken($thema-color,15%);
$thema-darker: darken($thema-color,30%);

/*-- size --*/
$padding-type01 : 5px;
$padding-type02 : 10px;
$padding-type03 : 1rem;

$title-height: 2.712rem;

$table-head-height:36px;
$td-height : 40px;
$td-padding : 4px;
$thema-letter-spacing: -1px;

$min-width : 1400px;//1920px;
$below-width : 1400px;
$side-width : 440px ;
$wide-width : calc(100% - #{$side-width });
$half-wide:  calc(50% - #{$side-width /2});

$board-height : 48px;

/*-- font family --*/
%font-b{font-family: Nanum Gothic, sans-serif; font-weight: 800;}
%font-r{font-family: Nanum Gothic, sans-serif; font-weight: 400;}
%font-n{font-family: Nanum Gothic, sans-serif;;}
%title{font-family: Nanum Gothic, sans-serif;}

/*-- clear both --*/
%float-clear {
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}

//mixin
@mixin thema ($bg, $font) {
  background-color: $bg;
  color: $font;
}

*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%;@extend %font-r; color:$font-color-01;}
body {-webkit-text-size-adjust:100%;background-color:$thema-color;@extend %font-r;}
a{text-decoration:none;color:$font-color-01;}
li{list-style: none;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;font-size:0.9rem;}
caption,
summary{display: none;}

.coinType{}
.priceType{}
.numFontType{@extend %font-n;}
.numBold{@extend %font-n;font-weight:900;}
.bFontType{@extend %font-b;}
.rFontType{@extend %font-r;}

/*-- font-color --*/
.font-color-plus{color:$plus-color;}
.font-color-minus{color : $minus-color;}
.font-dark{color:$font-color-dark !important;}
.font-normal{color:$font-color-01 !important;}
.font-light{color:$font-color-light;}
.font-color-primary{color : $primary-color;}
.font-color-pointe{color:$point-color;}
.font-red{color:red;}

.caution, .caution *{color:red;}

/*-- text-align --*/
.text-center{text-align:center;}
.text-right{text-align: right;}
.text-left{text-align:left;}

/*-- float --*/
.float-right{float:right;}
.float-left{float:left;}

/*-- border --*/
.boder-bottom-zero{border-bottom:none !important;}
.border-zero{border:none !important;}

/*-- margin --*/
.margin-zero{margin:0 !important;}

/*-- no data table --*/
.noData div{height:300px;border:none !important;line-height: 300px;text-align: center;}

/*-- vertical --*/
.vertical-middle{
  display:table;
  width:100%;
  height:100%;
  .middle-inner{  display:table-cell;  vertical-align: middle;  }
}

/*-- scroll-custom table--*/
.scroll-custom{
  overflow-y: scroll;
  height: 100%;
  table{position:relative;}
  caption,
  summary{display: none;}
  th,
  td{padding: 0 $td-padding ;}
  thead{display:table;position:fixed;z-index: 1;width:100%;box-shadow: 0px 2px 1px rgba(0,0,0,.05);}
  thead tr{
    th,
    td{
      @include thema($th-bg, $th-font-color);
      border-bottom:1px solid $border-color;
      height: $table-head-height;
      font-size:1rem;
      @extend %font-r;
    }
    th:first-child,
    td:first-child{padding-left: $padding-type03;}
    th:last-child,
    td:last-child{padding-right: $padding-type03;}
    select{
      height:calc(100% - 8px);
      border:1px solid $border-color;
      @include thema($th-bg, $th-font-color);
      @extend %font-r;
      font-size:1rem;
      cursor:pointer;
    }
  }
  tbody tr{
    &:first-child td{
      height : #{$table-head-height + $td-height};
      padding-top: #{$table-head-height + 1};
    }
    &:last-child:not(:nth-child(-n+10)) td{border-bottom:none;}
    td{
      height:$td-height;
      border-bottom:1px solid $border-color;
      font-size: 1rem;
      color: $font-color-dark;
      .sortData{display: none;}
      input.dealID{display:block;width:100%;height:calc(100% - 8px);padding:0 4px;border:none;}
      .date{font-size:0.9rem;}
    }
    td:first-child{padding-left: $padding-type03;}
    td:last-child{padding-right: $padding-type03;}
  }
  td.date span,
  td.date small{display:block;margin-left:0;font-size: 0.9rem;line-height: 1.4;}
}

/*-- tab --*/
.tab{
  display:flex;
  margin-bottom:1rem;
  border:1px solid $primary-color;
  .tab-title{width:100%; height:2.26rem; line-height:2.26rem;}
  .tab-title:not(:last-child){border-right:1px solid $primary-color;}
  .tab-title.active{ @include thema($primary-color, #fff);}
}
.tab-con{
  display:none;
  height: 100%;
  &.active{display:block;}
}

/*-- input-box --*/
.input-box{
  display: flex;
  border: 1px solid $border-color;
  *{ color: $font-color-01; font-size: 1rem;}
  >div{width:100%;}
  >div:not(.read-only){height:$title-height;padding : $td-padding #{$td-padding *2};}//line-height: #{$title-height - ($td-padding *2)}
  >.read-only,
  input:read-only{margin:-1px;border:1px solid $border-color;background-color:rgba(0, 0, 0, 0.1);text-align: left;}
  >.read-only>input:read-only{margin:0;border:none;background-color:transparent;text-align: left;}
  .flex{
    display: flex;
    padding : 0 !important;
    input, button, select{margin:0;border:0}
  }
  input, button, select{padding : $td-padding #{$td-padding *2};margin:-1px -1px -1px 0;border:none;}
  button{
    margin:0;
    background-color:transparent;
    border-left:1px solid $border-color;
    &.btn-color-primary{
      @include thema($primary-color, #fff);
      border:1px solid transparent;
    }
    &.btn-color-primary:hover{background-color:$primary-dark;}
    &.btn-color-primary.reversed{@include thema(transparent, $primary-color);border-color: $primary-color;}
    &.btn-color-primary.reversed:hover{@include thema(transparent,$primary-dark);border-color: $primary-dark;}
    &.btn-color-primary:disabled{background-color:#dddddd;color:#7d7d7d;}
    &.btn-color-pointe{
      @include thema($point-color, #fff);
      border:1px solid transparent;
    }
    &.btn-color-pointe:hover{background-color:$point-dark;}
    &.btn-color-pointe.reversed{@include thema(transparent,$point-color);border-color:$point-color;}
    &.btn-color-pointe.reversed:hover{@include thema(transparent,$point-dark);border-color:$point-dark;}
    &.btn-color-pointe:disabled{background-color:#dddddd;color:#7d7d7d;}
  }
  select{  background-color:transparent;  border-right:1px solid $border-color;  }
  input{width:100%;height:$title-height;background-color:transparent;text-align: right;color:$font-color-dark;}
  button{width:10rem;height:$title-height;text-align: center;}
  select{width:100px;height:$title-height;}
}

/*-- button --*/
button{
  outline:none;
  position:relative;
  border:none;
  font-size:0.9rem;
  transition:all .4s ease;
  &:active{top:1px;left:1px;}
}
.btn-block{  display: block;  height:$title-height;  width:100%;  }
.btn-200{ display: block;  height:$title-height;  width:18.08rem; margin:0 auto;}
.btn-color-primary{
  @include thema($primary-color, #fff);
  border:1px solid transparent;
  &:hover{background-color:$primary-dark;}
  &.reversed{@include thema(transparent, $primary-color);border-color: $primary-color;}
  &.reversed:hover{@include thema(transparent,$primary-dark);border-color: $primary-dark;}
  &:disabled{background-color:#dddddd;color:#7d7d7d;}
}
.btn-color-pointe{
  @include thema($point-color, #fff);
  border:1px solid transparent;
  &:hover{background-color:$point-dark;}
  &.reversed{@include thema(transparent,$point-color);border-color:$point-color;}
  &.reversed:hover{@include thema(transparent,$point-dark);border-color:$point-dark;}
  &:disabled{background-color:#dddddd;color:#7d7d7d;}
}

//small
small{margin-left:5px;}

/*-- checkbox,radio custom --*/
.check-custom{
  input[type=checkbox],
  input[type=radio]{display: none;}
  input + label{display:inline-block;position:relative;padding-right:1rem;padding-left:2em;color:$font-color-dark;line-height:2rem;cursor:pointer;}
  input + label:before{content:"";display:block;position:absolute;top:50%;left:0;width:1.2rem;height:1.2rem;margin-top:-0.7rem;border:1px solid #888;border-radius:2px;}
  input + label:after{content:"";display:block;position:absolute;top:50%;left:2px;width:1rem;height:1rem;margin-top:-0.6rem;background-size:contain;border-radius:2px;}
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before{border-color:$minus-color;}
  input[type=checkbox]:checked + label:after,
  input[type=radio]:checked + label:after{background-image:url(../images/icon/verification-mark.png);}
}

/*----------------------------------*/
/*              common              */
/*----------------------------------*/
.wrap{
  position:relative;
  width:100%;
  height:100%;
  padding-top:4rem;
  padding-bottom:4.5rem;
}

/*----------------------------------*/
/*              header              */
/*----------------------------------*/
header{
  position:absolute;
  top:0; right:0;left:0;
  height:4rem;
  @include thema($header-bg, $header-font-color);
  font-family: '나눔바른고딕', Nanum Barun Gothic, sans-serif;
  font-weight: 400;
  @extend %float-clear;

  .logo{
    float:left;
    position:relative;top:50%;height:3.2rem;margin-top:-1.6rem;
    padding-top:0;
    a {display:block;height:100%;margin-left:10px;}
    a img{width:auto;height:100%;}
  }
  .hamburger{
    display:block;
    position:absolute;
    top:50%;
    right:10px;
    height:19px;
    margin-top:-9px;
    z-index:2000;
    button{
      position: relative;
      display: block;
      width: 21px;
      height: 2px;
      margin-top:10px;
      color: #fff;
      text-transform: uppercase;
      text-indent: -55px;
      background: #fff;
      transition: all .2s ease-out;
    }
    button::before,
    button::after {
      content: '';
      width: 21px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      transition: all .2s ease-out;
    }
    button::before {  top: -7px;  }
    button::after {  bottom: -7px;  }

    /*click action*/
    &.active button {  background: transparent;  }
    &.active button::before {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
    &.active button:after {
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    }
    &.active button::before,
    &.active button::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      transition: all .2s ease-out;
    }
  }

  nav.mobile{
    display:block;
    position:fixed;
    top:0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    .list{
      position:fixed;
      z-index: 1901;
      width:270px;
      margin-top:3px;
      background-color:#000;
      top:0;
      right:-100%;
      bottom:0;
      padding:75px 40px 40px 40px;
      overflow-y:auto;
      transition:right 0.5s ease;
    }
    //action
    &.active {right:0;}
    &.active .list{right:0;}

    .has-dropdown{
      position:relative;
      &:after{
        content:"\e921";
        position:absolute;
        top: 0;
        right:0;
        font-size:20px;
        color:rgba(255, 255, 255, 0.2);
        font-family : 'icomoon';
      }

      //action
      &.active:after{transform:rotate(180deg);}
      &.active .dropdown{display:block;}
      &.active .depth1>li>a{color:rgba(255, 255, 255, 0.8);}
    }
    .depth1 a{
      display:block;
      height:auto;
      padding:0;
      font-size: 16px;
      line-height: 1.7;
      color:rgba(255, 255, 255, 0.5);
    }
    .dropdown{display:none;}
    .dropdown a{  padding-left:20px;  }
  }

}

/*----------------------------------*/
/*              footer              */
/*----------------------------------*/
nav.menu{
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  //z-index: 2;
  height:4.5rem;
  @include thema($primary-color, #fff);
  font-size:1.1rem;
  ul{
    display:flex;
    height:100%;
    padding:0 1rem;
  }
  li{
    width:100%;
    height:100%;
    text-align:center;
  }
  .txt{padding-top:0.7rem; line-height: 1.6; font-size:1rem;}
  .txt:before{content:"";display:block;width:100%;height:1.6rem;margin-bottom:3px;background-size:contain;background-repeat: no-repeat;background-position: center;}
  .txt.home:before{background-image: url('../images/icon/i_home.png');}
  .txt.chart:before{background-image: url('../images/icon/i_chart.png');}
  .txt.list:before{background-image: url('../images/icon/i_list.png');}
  .txt.wallet:before{background-image: url('../images/icon/i-wallet.png');}
  .txt.board:before{background-image: url('../images/icon/i-board.png');}
  li .txt,
  li .txt:before{opacity: 0.6;}
  li.active .txt,
  li.active .txt:before{opacity: 1;}
}

section{
  position:relative;
  z-index: 1;
  height:100%;
  transition : all .4s ease;
  &:after{@extend %float-clear;}
  article{
    height:100%;
    > .arti-inner{
      height:100%;
      @include thema($card-bg, $font-color-01);
      @extend %float-clear;
    }
  }
}
.arti-title{
  height:$title-height;
  border-bottom:1px solid $border-color;
  @include thema($primary-color, $header-font-color);
  line-height:$title-height;
  @extend %font-b;
  .tabs{  display:block;  }
  .tab-title{display:inline-block; padding:0 1rem;font-weight:400;}

  /*tab-title action*/
  .tab-title{opacity: 0.6;}
  .tab-title.active{opacity: 1;}
}

/*----------------------------------*/
/*        거래소 - 코인리스트       */
/*----------------------------------*/
#coinList{
  thead th.sortTh{
    position:relative;
    padding-right:19px;
    cursor:pointer;
    &:before,
    &:after{
      content:"";
      display:block;
      position:absolute;
      right:4px;
      border:5px solid transparent;
      opacity: 0.5;
    }
    &:before{top:6px;  border-bottom-color:$th-font-color;}
    &:after{bottom:6px;  border-top-color:$th-font-color;}
    &.up:before{border-bottom-color:$primary-color;  opacity: 1;}
    &.down:after{border-top-color:$primary-color;  opacity: 1;}
  }
  tbody tr:first-child td{
    height:calc(#{$table-head-height*2+1} + #{$td-height});
    padding-top: #{ $table-head-height*2 + 1};
  }
  .search{
    @extend %float-clear;
    .coin-option,
    .coin-search{  width:50%;  height:100%;}
    .coin-search input,
    .coin-option select{
      border:0;
      width:100%;
      height:100%;
      padding:0 1rem;
      font-size:1rem;
      @include thema($card-bg, $font-color-01);
    }
    .coin-option select{border-right:1px solid $border-color;}
  }
  .bar{
    overflow:hidden;
    position:relative;;
    width:7px;
    height:27px;
    margin: 0 auto;
  }
  .bar .line,
  .bar .box{
    position:absolute;
    top:0;
    display: block;
    overflow: hidden;
    text-indent: -999em;
  }
  .bar .line{left:3px;width:1px;}
  .bar .box{left:0;width:7px;}
  .bar.up .line,
  .bar.up .box{background-color: $plus-color;}
  .bar.down .line,
  .bar.down .box{background-color : $minus-color;}
}

/*-------------------------------------------*/
/*거래소 - 호가테이블, 매수, 매도, 미체결내역*/
/*-------------------------------------------*/
#exchange{
  article{
    height:calc(100% - #{$title-height + 6rem});
  }
}
#TradeMain{
  height:6rem;
  padding:0.5rem 1rem;
  @extend %float-clear;
  .coinTItle{
    @extend %float-clear;
    .img_coin,
    #pageTitle{
      display:block;
      float:left;
    }
    .img_coin{  width:2rem; margin:4px 0 0; }
    .img_coin img{width:100%;height:auto;}
  }
  #spanBithumb{
    font-size: 1.3rem;
    font-weight: 800;
  }
  #pageTitle{
    height:$title-height;margin-bottom:0.5rem;background-color:transparent;color:$font-color-dark;border:none;font-size:1.3rem;
    option{
      background-color: #333;
      color:#fff;
    }
  }
  .TodayNowPrice,
  .selectCoinStatus{line-height: 1.4; }

  .TodayNowPrice{
    clear:both;
    @extend %float-clear;
    >div{float:left;width:50%;}
  }
}

//호가테이블, 매수, 매도, 미체결내역
#tradePage{
  #askingprice,
  .tradeBuySell{
    float:left;
    height:100%;
    //width:50%;
  }
  #askingprice{width:45%;}
  .tradeBuySell{width:55%;}

  //호가테이블 영역
  #askingprice{
    overflow-y: scroll;
    caption,
    summary{display: none;}
    th,
    td{padding: 0 $td-padding ;}
    tbody td{
      position: relative;
      height:$td-height;
      border-right: 1px solid $border-color;
      border-bottom:1px solid $border-color;
      font-size: 0.9rem;
      color: $font-color-dark;
    }
    .hogaTable{
      tbody tr:last-child td{border-bottom:none;}
      .SellTd{background-color: $sell-bg;}
      .BuyTd{background-color: $buy-bg;}
      .gauge{
        display: inline-block;  height: 100%;
        &.sell{float:left;  margin-left:-4px;  background-color: $sell-bg;}
        &.buy{float:left;  margin-left:-4px;  background-color: $buy-bg;}
      }
      .coin-qty{
        position:absolute;
        color:$font-color-dark;
        line-height:$td-height;
        &.sell{right:4px;  text-align: right;}
        &.buy{right:4px;  text-align: right;}
      }
    }
  }

  //매수,매도,미체결내역 영역
  .tradeBuySell{
    padding:1rem 0.5rem;
    li{
      margin-bottom:0.5rem;
      @extend %float-clear;
      p{font-size:0.9rem;}
      .mb{margin-bottom:0.5rem;}
    }
    .input-box button{width:3.5rem;}
    .input-box select{width:100%;padding:0;border:none;}
    .tab-con{
      overflow-y: scroll;;
      height:calc(100% - 26px);
      line-height:1.6;
    }
  }
  .notOrderList{border-top:1px solid $border-color;}
  #qtyBuy #BuyperSentOper,
  #qtySell #SellperSentOper{
    border:none;
    button{width:100%;padding:4px 0px;border:1px solid $primary-color; border-right:none; color:$primary-color;}
    button:last-child{margin:0;border-right:1px solid $primary-color;}
    button:last-child:active{left:0;}
  }
  #ClosePriceList{
    tbody tr{border-top:1px solid $border-color;border-bottom:1px solid $border-color;}
    tbody tr:first-child{border-top:0;}
    td{padding:0.5rem 0;}
    .clear{@extend %float-clear;}
    .data{padding-left:0.5rem;}
    small{margin-left:3px;}
    button{height:auto;}
  }
}

//체결내역, 미체결내역, 자산현황
#divOrderList,
#divNotContractList,
#divCoinList{
  .input-box{display:flex;border-top:none;border-right:none;border-left:none;}
  .input-box select{width:100%;padding:0 8px;}
  .input-box select:last-child{border-right:none;}
  .SellTd{background-color: $sell-bg;}
  .BuyTd{background-color: $buy-bg;}
  .tab-con{
    overflow-y: scroll;;
    height:calc(100% - 60px);
    line-height:1.6;
  }
  tbody tr:nth-child(odd) td:first-child{border-right:1px solid $border-color;}
  tbody tr td{
    padding:2px 5px;
    border-bottom:1px solid $border-color;
    line-height: 1.4;
    &:first-child{border-right:1px solid $border-color;}
    &:first-child small{display: block;margin-left:0;}
    &:last-child{padding:0;}
    &:last-child .list-row{display:flex;}
  }
  dl{
    width:100%;
    padding:2px 5px;
    @extend %float-clear;
  }
  //tbody td .list-row:first-child{border-bottom:1px solid $border-color;}
  button {width:90%; padding:1px 0;}
  .date span,
  .date small{display:block;font-size: 0.9rem;}
}
#conclusion-list{
  thead small{display:block;margin-left:0;}
}


/*-------------------------------------------*/
/*           입출금 - 보유자산리스트         */
/*-------------------------------------------*/
#tbCoinList{
  line-height: 1.4;
  //tbody tr:first-child td{height:$td-height;padding-top:0;}
  tbody tr{
    &:first-child td:last-child{background-position: right 1rem bottom 1.2rem;}
    &:first-child td:first-child{
      .img-cover{top:#{$table-head-height + ($td-height/2)};}
    }
    td:first-child{position:relative; padding-left: calc(1.8rem + #{$padding-type03} + 5px);}
    td:last-child{
      padding-right:2.5rem;
      background-size: 1rem;
      background-image: url(../images/board/arrow-button.png);
      background-repeat: no-repeat;
      background-position: right 1rem center;
    }
  }
  .coin_name,
  .img-cover{float:left;display: block;}
  .img-cover{position:absolute;top:50%;left:$padding-type03;width:1.8rem;margin-top:-0.9rem;height:1.8rem;line-height: 1.8rem;}
  .img-cover img{width:100%;}
  .inout_can,
  .inout_not{ span{display:block;} }
  .inout_not{color:$plus-color;}
  .inout_can{color : $minus-color;}
}


/*-------------------------------------------*/
/*       입출금 - 입금,출금,입출금내역       */
/*-------------------------------------------*/
#inOutList{
  .inOutTitle{margin-top:0;/*margin-bottom:1rem;*/padding-bottom:1rem;border-bottom:1px solid lighten($border-color,8%);text-align: center;}
  .scroll-custom {padding: 1rem;}
  .deposit_guide{padding:1rem;background-color:rgba(0, 0, 0, 0.04);line-height: 1.6;}
  .input-box{line-height: calc(#{$title-height} - #{$td-padding});}
  .inOutList { .scroll-custom{padding:0;} }
  article{
    height:calc(100% - #{$title-height});
  }
}

//입금
.inContens{
  &.deposit_caution{
    div,
    dl{@extend %float-clear;}
    .sum-wrap {margin-bottom:1rem;}
    .assent{  text-align: center;  }
    .assent label{margin-top:1rem;}
    .assent + button{margin-top:$padding-type02;}
    .deposit_guide{
      &.full{height:100%;}
      padding:#{$padding-type02 *2};
      border-top:1px solid $border-color;
      font-size:0.9rem;
      color:$font-color-dark;
      background-color:rgba(0,0,0,.04);
      ul{}
      li{position:relative;margin-top:10px;padding-left:$padding-type02; line-height: 1.4;}
      li:first-child{margin-top:0;}
      li:after{content:"";display: block;position:absolute;top:7px;left:0;width:2px;height:2px;background-color:$font-color-dark }
      dt{line-height: 1.4;}
      dt:not(:first-child){padding-top:1rem;}
      dd{margin-top:1rem;line-height: 1.4;}
      button{margin-top:#{$padding-type02 *2};}
    }
    #deposit_cancel{margin-top:1rem;}
    .bank_info{
      margin-right:auto;
      margin-left:auto;
      dl{@extend %float-clear;}
      dl:not(:last-child){margin-bottom:0.5rem;}
      dt,
      dd{box-sizing: border-box;line-height:$title-height;}
      dt{
        &:not(.float-right){float:left}
        width:25%;
        font-size:1rem;
        color : $font-color-02;
      }
      dd{
        &.block{width:100%;}
        &:not(.float-left){float:right;text-align:right;}
        width:70%;
        color:$font-color-dark;
        font-size:1rem;
      }
      .input-box button{width:120px;}
      .deposit_name{
        .input-box{border:none;}
        dt{float:inherit;width:100%;}
        dd{float:inherit;width:100%;}
        dd input{height: $title-height;margin:0;@include thema($primary-color, #fff);border:1px solid $primary-color;font-size:1.5rem;text-align: center;}
        dd button{margin:0;border:1px solid $primary-color;color:$primary-color;}
        dd button:active{top:0;left:0;}
      }
      .deposit_name_ex{padding:10px 0;font-size: 1;}
    }
  }
  &#ulNullAddr{  text-align: center;  font-size: 1rem; button{margin-top:1rem;} }
  &#ulAddr{
    dl:not(:first-child){margin-top:0.5rem;}
    dt{font-size: 1rem;}
    dd{}
    .qr{
      display: inline-block;
      width:60%;
      height:auto;
      padding:0.5rem;
      margin-bottom:1rem;
      border:1px solid $border-color;
      img{width:100%;height:100%;}
    }
  }
}

/*출금*/
#CoinOut{
  .inoutAomount{
    font-size:1rem;
    dl:first-child dd{font-size: 1.2rem;}
    dt,dd{font-size:1rem;}
  }
  .scroll-custom >div {
    border-bottom:1px solid lighten($border-color,8%);
    padding:0.5rem 0;
    &.inOutTitle{padding:0.5rem 0 1.5rem;}
  }

  dl{margin-bottom:0.5rem;@extend %float-clear;}
  dt,
  dd{box-sizing: border-box;line-height:$title-height;}
  dt{
    &:not(.float-right){float:left}
    width:39%;
    font-size:1rem;
    color : $font-color-02;
  }
  dd{
    &.block{width:100%;}
    &:not(.float-left){float:right;text-align:right;}
    width:60%;
    color:$font-color-dark;
    font-size:1rem;
  }
  small{color:$font-color-light;}
  #divSecondaryAuthentication,
  #divOTP,
  #div_out_etc,
  #div_out_qty,
  #div_out_add{ dt{line-height:$title-height;} }
  #totalExchangeCan{color:$primary-color;}
  .krw_out_info dd>div{@extend %float-clear;}
  .krw_out_info,
  .coin_out_info{ dt,dd{width:100%;} }
  .input-box button{padding:0;}
  #viewTimer{width:100%;height:$title-height; padding : $td-padding #{$td-padding *2}; text-align:right; padding-right:1rem; letter-spacing: -1px;line-height: calc(#{$title-height} - #{$td-padding});}
}

/*입출금내역*/
#divTableInOutCList {
  #tableInOutCList{
    font-size: 0.9rem;
    line-height: 1.6;
    .inout-row{
      position:relative;;
      padding:0.5rem 1rem;
      border-bottom:1px solid $border-color;
      &.up .tit,
      &.up button{color:$plus-color;}
      &.down .tit,
      &.down button{color: $primary-color;}
      dl{@extend %float-clear;}
      dt,dd{float:left;}
      dt{width:25%; color:$font-color-dark;}
      dd{width:75%;}
    }
    .input-box{
      height:auto;
      border:none;
      line-height: 1.6;
      input,
      button{height:auto;padding:0px;margin:0;border:0;background-color:transparent;font-size: 0.9rem;line-height: 1.6;}
      input{color:$font-color-01;}
      button{width:3rem;text-align: right;}
    }
  }
  .check-custom{
    @include thema($th-bg, $th-font-color);
    border-bottom:1px solid $border-color;
    padding: #{$padding-type03 / 2} $padding-type03;
    @extend %font-r;
    font-size:1rem;
  }
}

/*-------------------------------------------*/
/*                  투자내역                 */
/*-------------------------------------------*/
#investments{
  background-color:$card-bg;
  article:not(#totalAmount){height:calc(100% - 15.26rem);border-top:1px solid $border-color;}
  .tab{width:60%;margin:1rem auto;clear:both;}
  #divOrderList .tab-con,
  #divNotContractList .tab-con{height:calc(100% - #{$title-height});}
  #divCoinList .tab-con{height:100%;}
  tbody tr{
    td:first-child{padding-left: $padding-type03;}
    td:last-child{padding-right: $padding-type03;}
  }
}

/*보유자산*/
#totalAmount{
  height:10rem;
  line-height: 1.4;
  .arti-inner > div{padding:1rem 1rem 0;}
  h2{margin-bottom:1rem;font-size: 1.5rem;@extend %float-clear;}
  ul{margin-right:-0.5rem;margin-left:-0.5rem;@extend %float-clear;}
  ul li{ float:left;width:50%;padding-right:0.5rem;padding-left:0.5rem;margin-bottom:0.5rem; @extend %float-clear;}
}

/*-------------------------------------------*/
/*             공지사항 - 리스트             */
/*-------------------------------------------*/
#BoardList{
  .scroll-custom tbody tr:first-child td{
    height : #{$table-head-height + $board-height};
    padding-top: #{$table-head-height + 1};
  }
  .scroll-custom tbody tr:first-child td:last-child{background-position: right 1rem bottom 1.4rem;}
  .scroll-custom tbody tr td{
    overflow:hidden;
    height:$board-height;
    padding-right:2.5rem;
    background-size: 1rem;
    background-image: url(../images/board/arrow-button.png);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    line-height: 1.6;
    white-space: nowrap;
    text-overflow:ellipsis;;
  }
}

/*-------------------------------------------*/
/*             공지사항 - 디테일             */
/*-------------------------------------------*/
#BoardDetail{
  thead td{
    height:$board-height;
    padding-left:2.5rem;
    background-size: 1rem;
    background-image: url(../images/board/arrow-prev.png);
    background-repeat: no-repeat;
    background-position: left 1rem center;
    input{
      width:100%;
      @include thema($th-bg, $th-font-color);
      border:0;
      @extend %font-r;
      font-size:1rem;
      line-height: #{$board-height - 1px};
    }
  }
  .scroll-custom tbody td:first-child{  padding: calc(#{$board-height} + 1rem + 1px) 1rem 1rem 1rem;  }
  .scroll-custom tbody td{
    padding: 1rem;
    border-bottom:0;
    line-height:1.6;
  }
}



/*-------------------------------------------*/
/*                media query                */
/*-------------------------------------------*/
//세로모드, 뷰포트 높이가 너비에 비해 상대적으로 크면 실행
@media all and (orientation:portrait) {
  html,body{font-size:2.95vw;}
}
//가로모드, 뷰퍼트 너비가 높이에 비해 상대적으로 크면 실행
@media all and (orientation:landscape) {
  html,body{font-size: 2.95vh;}
  #investments{
    article:not(#totalAmount){
      float:left;
      width:55%;
      height:calc(100% - 4.26rem - 2px);
    }
    #totalAmount{
      float:left;
      width:45%;
      height:100%;
    }
    .tab{
      float:left;
      clear:inherit;
      width:calc(55% - 2rem);
      margin:1rem;
    }
  }
}


